* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Kontejner stranice */
.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh; /* Visina celog ekrana */
  background-color: #f8f9fa;
}

/* Stil za profil formu */
.profile-container {
  width: 100%;
  max-width: 400px; /* Maksimalna širina */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.profile-field {
  margin-bottom: 20px;
}

.profile-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.edit-icon {
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  color: #007bff;
}

.edit-icon:hover {
  color: #0056b3;
}

.save-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3;
}

/* Modal stilovi */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly; /* Razmak između dugmadi */
  margin-top: 10px;
}

.modal-content h3 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1f3b6d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}
.modal-content button:nth-child(2) {
  margin-top: 10px; /* Razmak između dugmadi */
  margin-left: 10px; /* Razmak između dugmadi */
}
.profile-image {
  display: block;
  margin: 0 auto; /* Centriranje horizontalno */
  width: 150px; /* Širina slike */
  height: 150px; /* Visina slike */
  object-fit: cover; /* Obrezivanje slike da popuni kvadrat */
  border-radius: 50%; /* Za okrugli prikaz slike */
  border: 2px solid #ccc; /* Opcionalno: okvir oko slike */
}
