/* Home Slider CSS */

/* Slider zauzima ceo ekran i nije prekriven navbar-om */
.slider {
  position: relative;
  width: 100vw; /* Širina slidera je 100% širine ekrana */
  height: calc(100vh - 60px); /* Visina slidera je 100% visine ekrana minus visina navbar-a */
  overflow: hidden;
  margin-top: 60px; /* Razmak da bi slider bio ispod navbar-a */
}

/* Slajd zauzima celu površinu slidera */
.slide {
  filter: blur(5px); /* Dodaj zamućenje za sve slajdove */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Tranzicija za opacity i transform */
  position: absolute;
}

/* Aktivni slajd sa punom opacitetom */
.slide-active {
  opacity: 1;
  transform: translateX(0); /* Pomeranje slajda */
}

.welcome-text {
  position: fixed;
  top: 50%; /* Postavljanje na sredinu ekrana vertikalno */
  left: 50%; /* Postavljanje na sredinu ekrana horizontalno */
  transform: translate(-50%, -50%); /* Pomeri element za 50% njegove širine i visine */
  font-size: 2rem;
  color: white;
  font-weight: bold;
  z-index: 10; /* Da tekst bude iznad slajdova */
  padding: 10px;
  text-align: center;
}

/* Strelice za navigaciju, postavljene na ivice */
.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.arrow-left {
  left: 32px;
}

.arrow-right {
  right: 32px;
}

/* Pozicioniranje tačaka ispod slajdova */
.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

/* Dodajte marginu za telo stranice da ne bi bilo preklapanja sa footer-om */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
