nav {
  background-color: #1f3b6d;
  padding: 10px 20px;
  color: white;
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 2; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-items li {
  margin-left: 20px;
  transition: background-color 0.3s, border-radius 0.3s; /* Dodajemo transition za border-radius */
  border-radius: 10px; /* Postavljanje border-radius u početnom stanju */
}

.nav-items li:hover {
  background-color: #3a5f99; /* Promena pozadine pri hoveru */
}

.nav-items a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: background-color 0.3s, border-radius 0.3s; /* Dodajemo transition za border-radius */
  border-radius: 5px; /* Postavljanje border-radius u početnom stanju */
}

.nav-items a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1); /* Dodavanje svetle pozadine pri hoveru */
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.search-bar {
  padding: 5px;
  margin-right: 5px;
}

.search-button {
  padding: 5px 10px;
}
